  <!-- Footer area starts -->
  <footer>

        <div class="footer-widget-area section-big">
            <div class="container">
                <div class="row">
  
                    <!-- Footer Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3>About Empremart</h3>
                            <p>lorem ipsum dolor sit amet. no matter what ever you write you can write here because  you can write here because it is dummy text you can write here because it is dummy text. Client will change this text after purchasing this item. So its not important what you are writing here.</p>
                        </div>
                    </div>
  
                    <!-- Footer Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="#">Education Center</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Monthly Deals</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
  
                    <!-- Footer Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3>Our Information</h3>
                            <div class="address">
                                <div class="address-box clearfix">
                                    <span class="lnr lnr-home"></span>
                                    <p>123 Anywhere St. <br> Denver CO. 12345</p>
                                </div>
                                <div class="address-box clearfix">
                                    <span class="lnr lnr-phone-handset"></span>
                                    <p><a href="tel:015110022">1(888)123-5678</a>
                                    <br>
                                    <a href="tel:015110022">1(123)456-7890</a></p>
                                </div>
                                <div class="address-box clearfix">
                                    <span class="lnr lnr-envelope"></span>
                                    <p><a href="mailto:email@yourdomain.com">info@embremart.com</a>
                                </div>
                                <div class="address-box clearfix">
                                    <span class="lnr lnr-earth"></span>
                                    <p><a href="http://www.yourdomain.com">www.embremart.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
  
                    <!-- Footer Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3>Contact Us</h3>
                                <!-- Contact form starts -->
                            <div class="contact-form">
  
                                <form id="ajax-contact" action="assets/mailer.php" method="post">
                                    <div class="form-group in_name">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required="required">
                                    </div>
                                    <div class="form-group in_email">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
                                    </div>
                                    <div class="form-group in_message">
                                        <textarea rows="5" name="message" class="form-control" id="message" placeholder="Message" required="required"></textarea>
                                    </div>
                                    <div class="actions clearfix">
                                        <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn red-bg" title="Submit Your Message!">
                                    </div>
                                </form>
  
                                <!-- Submition status -->
                                <div id="form-messages"></div>
  
                            </div>
                            <!-- Contact form ends-->
                        </div>
                    </div>
  
                </div>
            </div>            
        </div>
  
        <div class="clearfix"></div>
  
        <!-- Footer Bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p>&copy; 2018 Copyright <a href="">EmbreMart.com | All Rights Reserved.</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="social-links">
                            <li>Social</li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  
    </footer>
    <!-- Footer area ends -->