<!-- Preloader starts-->
<div id="preloader"></div>
<!-- Preloader ends -->


<!-- Navigation area starts -->
<div class="menu-area navbar-fixed-top">
    <div class="container">
        <div class="row">

<!-- Navigation starts -->
<div class="col-md-12">
  <div class="mainmenu">
      <div class="navbar navbar-nobg">
          <div class="navbar-header">
              <a class="navbar-brand" href="">
                  <img src="assets/img/logo.png" alt=""> 
              </a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <div class="navbar-collapse collapse">
              <nav>
                  <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a class="smooth_scroll" href="/">HOME</a></li>
                      <li><a class="smooth_scroll" href="/">HOW IT WORKS</a></li>
                      <li><a class="smooth_scroll" href="/">BECOME A PROMOTER</a></li>
                      <li><a class="smooth_scroll" href="#">BUY ON EMPREMART</a></li>
                      <li class="nav-item dropdown" categoryDropdown>
                          <a class="dropdown-toggle" href="#" role="button">CATEGORIES</a>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Category 1</a></li>
                                  <li><a href="#">Category 2</a></li>
                                  <li><a href="#">Category 3</a></li>
                              </ul>
                      </li>
                      <li><button (click)="openModal('registerModal')" class="btn hidden-xs red-bg">SIGN UP</button></li> 
                  </ul>
              </nav>
          </div>
      </div>
      <div class="search-container">
          <form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
              <div class="input-group">
                  <input name="searchtext" value="Search..." class="form-control-search" type="text">
                  <span class="input-group-btn">
                     <input type="button" class="btn btn-default btn-search" type="submit" value="GO" id="addressSearch">
                  </span>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- Navigation ends -->


        </div>
    </div>
</div>
<!-- Navigation area ends -->

<section id="login">
<div class="container">
        <div class="row">
<div class="col-md-12">
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
</form>
</div>
</div>
</div>
</section>