  <!-- Preloader starts-->
  <div id="preloader"></div>
  <!-- Preloader ends -->


  <!-- Navigation area starts -->
  <div class="menu-area navbar-fixed-top">
      <div class="container">
          <div class="row">

<!-- Navigation starts -->
<div class="col-md-12">
    <div class="mainmenu">
        <div class="navbar navbar-nobg">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="assets/img/logo.png" alt=""> 
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a class="smooth_scroll" href="#slider">HOME</a></li>
                        <li><a class="smooth_scroll" href="#howitworks">HOW IT WORKS</a></li>
                        <li><a class="smooth_scroll" href="#">BECOME A PROMOTER</a></li>
                        <li><a class="smooth_scroll" href="#">BUY ON EMPREMART</a></li>
                        <li class="nav-item dropdown" categoryDropdown>
                            <a class="dropdown-toggle" href="#" role="button">CATEGORIES</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Category 1</a></li>
                                    <li><a href="#">Category 2</a></li>
                                    <li><a href="#">Category 3</a></li>
                                </ul>
                        </li>
                        <li><button (click)="openModal('registerModal')" class="btn hidden-xs red-bg">SIGN UP</button></li> 
                    </ul>
                </nav>
            </div>
        </div>
        <div class="search-container">
            <form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
                <div class="input-group">
                    <input name="searchtext" value="Search..." class="form-control-search" type="text">
                    <span class="input-group-btn">
                       <input type="button" class="btn btn-default btn-search" type="submit" value="GO" id="addressSearch">
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Navigation ends -->


          </div>
      </div>
  </div>
  <!-- Navigation area ends -->

 <!-- Registration Modal Begins -->
  <modal id="registerModal">
    <div class="modal">
        <div class="modal-body">
            <h1>Create your account</h1>
            <p>Select how you will use Empremart</p>
            <form [formGroup]="registerForm" class="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                            <div class="registerRadio clearfix">
                                    <div (click)="selectUser(0);" id="promoter">
                                        <p class="who1">I want to</p>
                                        <p class="mP">Sell</p>
                                    </div>
                                    <div (click)="selectUser(1);" id="buyer" >
                                        <p class="who1">I want to</p>
                                        <p class="mP">Buy</p>
                                    </div>
                                </div>
                        </div>
          <!--       <div class="form-group">
                        <form [formGroup]="registerForm" class="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <ul>
                                        <li class="registerRadio clearfix" *ngFor="let role of roles" (click)="select(role)" [ngClass]="{active: isActive(role)}">
                                            <a>{{role}}</a>
                                        </li>
                                    </ul>        
                                </div> -->
                            <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control-register" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control-register" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control-register" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" formControlName="email" class="form-control-register" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required and needs to be valid.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control-register" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary red-bg">Register</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/login']" class="btn btn-link red-bg-alt">Already have an Account?</a>
                </div>
            </form>
            <div class="clearfix socLogin" id="socLogin">
                    <p class="socLogin-header">Join with your social networks</p>
                    <div class="socLogin-btnContainer">
                        <a role="button" onclick="" class="socLogin-btn socLogin-btn_fb" title="Sign up with Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a role="button" onclick="" class="socLogin-btn socLogin-btn_ig" title="Sign up with Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a role="button" onclick="" class="socLogin-btn socLogin-btn_google" title="Sign up with Google+">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </div>
            <button (click)="closeModal('registerModal');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>


  <!-- Slider area starts -->
  <section id="slider" class="slider-area grd-bg">


      <div id="carousel-example-generic" class="carousel slide carousel-fade">

          <div class="carousel-inner" role="listbox">

              <!-- Item 1 -->
              <div class="item active">
                  <div class="table">
                      <div class="table-cell">
                          <div class="intro-video-text">
                              <div class="container">
                                  <div class="row">

                                      <!-- intro image -->
                                      <div class="col-md-12 col-sm-12 intro-img">
                                        <iframe width="100%" height="515px" src="https://www.youtube.com/embed/h-KHWUq3B7I?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                      </div>

                                      <!-- intro text -->
                                      <div class="col-md-12 col-sm-12">
                                          <div class="intro-text-box clearfix">
                                              <h1>What Can I Sell? <br> Let us help you!</h1>
                                              <p>Serenity has taken posse ssion of mine entire soul posse ssion of my entire soul which I enjoy with my whole heart. Serenity has taken posse ssion of mine has taken possession of mine entire soul possession entire soul heart.</p>
                                              <a href="" class="btn green-bg">Learn More!</a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Item 2 
              <div class="item">
                  <div class="table">
                      <div class="table-cell">
                          <div class="intro-text">
                              <div class="container">
                                  <div class="row">

                                      <!-- intro image 
                                      <div class="col-md-6 col-md-push-6 col-sm-12 intro-img">
                                          <img src="../../../assets/img/slider/2.png" alt="">
                                      </div>

                                      <!-- intro text =
                                      <div class="col-md-6 col-md-pull-6 col-sm-12">
                                          <div class="intro-text-box clearfix">
                                              <h1>Need Assistance? <br> Have us call you!</h1>
                                              <p>Serenity has taken posse ssion of mine entire soul possession of my entire soul which I enjoy with my whole heart. Serenity has taken posse ssion of mine has taken possession of mine entire soul possession entire soul heart.</p>
                                              <a href="" class="btn green-bg">Call me now!</a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              -->
              <hr>

          </div>
          <!-- End Wrapper for slides-->


          <!-- Carousel Pagination 
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>
-->

          <!-- Slider left right button -->
          <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <img src="assets/img/left-arrow.png" alt="">
          </a>

          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <img src="assets/img/right-arrow.png" alt="">
          </a> -->

      </div>

      <!-- bootstrap carousel -->

  </section>
  <!-- Slider area ends -->



  <!-- Hero boxes starts -->
  <section class="hero-box-area section-big" id="howitworks">
      <div class="container">

          <div class="row">
              <div class="col-md-12">
                  <div class="section-title text-center">
                      <h2>How it works</h2>                        
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
              </div>
          </div>

          <div class="row">

              <!-- Hero box -->
              <div class="col-md-4 col-sm-6">
                  <div class="hero-box">
                      <span class="lnr lnr-select green-bg"></span>
                      <h3>Point 1</h3>
                      <p>Lorem ipsum dolor sit amet, consect eturys adipisicing elit, sed do eiusmod tempor incm ididunt labore et dolore magna aliqua. Uten ad minim veniam, quis nostrud exeracitation ullamco laboris nisiut aliquip nisiut aliquip exea comodo aliquip.</p>
                  </div>
              </div>

              <!-- Hero box -->
              <div class="col-md-4 col-sm-6">
                  <div class="hero-box">
                      <span class="lnr lnr-rocket red-bg"></span>
                      <h3>Point 2</h3>
                      <p>Lorem ipsum dolor sit amet, consect eturys adipisicing elit, sed do eiusmod tempor incm ididunt labore et dolore magna aliqua. Uten ad minim veniam, quis nostrud exeracitation ullamco laboris nisiut aliquip nisiut aliquip exea comodo labore.</p>
                  </div>
              </div>

              <!-- Hero box -->
              <div class="col-md-4 col-sm-6">
                  <div class="hero-box">
                      <span class="lnr lnr-phone gradient-bg"></span>
                      <h3>Point 3</h3>
                      <p>Lorem ipsum dolor sit amet, consect eturys adipisicing elit, sed do eiusmod tempor incm ididunt labore et dolore magna aliqua. Uten ad minim veniam, quis nostrud exeracitation ullamco laboris nisiut aliquip nisiut aliquip exea comodo tempor.</p>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <!-- Hero boxes ends -->

  <!-- screenshot area starts -->
  <section id="screenshot" class="screenshot-area section-big">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title white">
                    <h2>Promoter's Stories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="clearfix"></div>

            <!-- screenshots starts -->
            <div class="screenshots">
                <div class="screen">
                    <a href="assets/img/screenshots/1.png" class="screen-popup"><img src="assets/img/screenshots/1.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/2.png" class="screen-popup"><img src="assets/img/screenshots/2.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/3.png" class="screen-popup"><img src="assets/img/screenshots/3.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/4.png" class="screen-popup"><img src="assets/img/screenshots/4.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/5.png" class="screen-popup"><img src="assets/img/screenshots/5.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/6.png" class="screen-popup"><img src="assets/img/screenshots/6.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/7.png" class="screen-popup"><img src="assets/img/screenshots/7.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/8.png" class="screen-popup"><img src="assets/img/screenshots/8.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/9.png" class="screen-popup"><img src="assets/img/screenshots/9.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/10.png" class="screen-popup"><img src="assets/img/screenshots/10.png" alt=""></a>
                </div>
                <div class="screen">
                    <a href="assets/img/screenshots/11.png" class="screen-popup"><img src="assets/img/screenshots/11.png" alt=""></a>
                </div>
            </div>
            <!-- screenshots ends -->

        </div>
    </div>
</section>
<!-- screenshot area ends -->



  <!-- Feature area starts -->
  <section id="feature" class="feature-area section-big">
      <div class="container">

          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="section-title">
                      <h2>Primary Features</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
              </div>
          </div>

          <div class="row">

              <div class="col-sm-6">
                  <div class="feture-img">    
                      <img src="assets/img/feature/mobile-phone.png" alt="">
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="feature-box right">
                      <span class="lnr lnr-rocket gradient-bg"></span>
                      <div class="feature-content">
                          <h3 class="subtitle">Point 4</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitempor seddo eiusmod tempor incididunt ut labore dolore magna alix Unim ad minim veniam, quis dolore magna aliqua.</p>
                      </div>
                  </div>
                  <div class="feature-box right">
                      <span class="lnr lnr-users red-bg"></span>
                      <div class="feature-content">
                          <h3 class="subtitle">Point 5</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitempor seddo eiusmod tempor incididunt ut labore dolore magna alix Unim ad minim veniam, quis dolore magna aliqua.</p>
                      </div>
                  </div>
                  <div class="feature-box right">
                      <span class="lnr lnr-funnel green-bg"></span>
                      <div class="feature-content">
                          <h3 class="subtitle">Point 6</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitempor seddo eiusmod tempor incididunt ut labore dolore magna alix Unim ad minim veniam, quis dolore magna aliqua.</p>
                      </div>
                  </div>
              </div>

          </div>



      </div>
  </section>
  <!-- Feature area ends -->



  <!-- video area starts -->
  <div id="video" class="video-area section-big">
      <div class="container">

          <div class="row">
              <div class="col-md-12">
                  <div class="section-title white text-center">
                      <h2>Promote Your Business Now!</h2>
                      <p>Millions of shoppers cant wait to see what YOU have in store!</p>
                      <button class="btn green-bg">Begin Now</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="video-content">
          <a class="popup-youtube" href="http://www.youtube.com/watch?v=xtZE3sMv6lg">
              <span class="lnr lnr-camera-video green-bg"></span>
          </a>
      </div>
  </div>
  <!-- video area ends -->



  <!-- Price area starts 
  <section id="pricing" class="pricing-area section-big">
      <div class="container">

          <div class="row">

              <div class="col-md-6 col-sm-4 col-xs-12">
                  <div class="section-title">
                      <h2>Are you a promoter or buyer?</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <a href="" class="btn green-bg">Not Sure? Click Here.</a>

                  </div>
              </div>

              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="price-item featured" data-connectors="1">
                      <div class="info">
                          <h3>Beginner</h3>
                          <p class="desc">Introductory Plan, perfect if you are just beginning, or want to see how it works!</p>
                          <p class="price">$15 Monthly</p>
                      </div>
                        <div class="features">
                          <ul>
                              <li>Feature 1</li>
                              <li>Feature 2</li>
                              <li>Feature 3</li>
                              <li>Feature 4</li>
                              <li>Feature 5</li>
                          </ul>
                        </div>
                     <a class="btn red-bg" href="#">Start 30 day Trial</a>
                  </div>
              </div>

              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="price-item" data-connectors="1">
                      <div class="info">
                          <h3>Advanced</h3>
                          <p class="desc">Premium Plan, includes everything from beginners plan plus:</p>
                          <p class="price">$29 Monthly</p>
                      </div>
                      <div class="features">
                          <ul>
                              <li>Feature 1</li>
                              <li>Feature 2</li>
                              <li>Feature 3</li>
                              <li>Feature 4</li>
                              <li>Feature 5</li>
                          </ul>
                      </div>
                      <a class="btn green-bg" href="#">Purchase now</a>
                  </div>
              </div>

          </div>

      </div>
  </section>
    Price area ends -->



  <!-- Testimonial area starts -->
  <section id="testimonial" class="testimonial-area section-big">
      <div class="container">

          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="section-title">
                      <h2>Text area goes here..</h2>                        
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
              </div>
          </div>        

          <div class="row">

              <div class="col-md-12">
                  <div class="testimonial-list">

                  </div>
              </div>
          </div>

      </div>
  </section>
  <!-- Testimonial area ends -->



  <!-- Client area starts -->
  <div id="client" class="client-area section-big">
      <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>Sponsors</h2>                        
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

          <!-- client carousel -->
          <div class="owl-client">

              <!-- item 1 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/1.png" alt="">
              </div>

              <!-- item 2 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/2.png" alt="">
              </div>

              <!-- item 3 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/3.png" alt="">
              </div>

              <!-- item 4 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/4.png" alt="">
              </div>

              <!-- item 5 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/5.png" alt="">
              </div>

              <!-- item 6 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/6.png" alt="">
              </div>

              <!-- item 7 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/7.png" alt="">
              </div>

              <!-- item 8 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/8.png" alt="">
              </div>

              <!-- item 9 -->
              <div class="item active text-center">
                  <img src="assets/img/clients/9.png" alt="">
              </div>

          </div>
          <!-- / client carousel -->

      </div>
  </div>
  <!-- Client area ends -->



  <!-- Action starts 
  <section id="action" class="action-area section-big">
      <div class="container">
          <div class="row">

              <div class="col-sm-6">
                  <img src="assets/img/cta/cta.png" alt="">
              </div>

              <div class="col-sm-6">
                  <div class="content-box">
                      <h2>EDUCATION AND BENEFITS</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <div class="btn-set">            
                          <a href="#" class="btn red-bg"><i class="fa fa-book">&nbsp;</i>Learn More</a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>
Action area ends -->


<!-- video area starts -->
<div id="video" class="video-area-shop section-big">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title white text-center">
                    <h2>Support Entrepreneurs - Shop Now!</h2>
                    <p>Ways to save!, Begin shopping now!</p>
                    <button class="btn red-bg">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video area ends -->



  <!-- Subscribe area starts -->
  <section id="subscribe" class="subscribe-area section-big">
      <div class="container">
          <div class="subscribe-box">
              <h2>Subscribe For Our Newsletter</h2>
              <p>Subscribe to our Newsletter. We'll send email notifications with exciting offers and promotions!</p>

              <form id="mc-form" class="mc-form">
                  <div class="newsletter-form">

                      <input type="email" autocomplete="off" id="mc-email" placeholder="Enter Email address" class="form-control" name="EMAIL">

                      <button class="btn red-bg mc-submit" type="submit">Subscribe</button>                                

                      <div class="clearfix"></div>

                      <!-- mailchimp-alerts Start -->
                      <div class="mailchimp-alerts">
                          <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                          <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                          <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                      </div>
                      <!-- mailchimp-alerts end -->


                  </div>
              </form>    
          </div>
      </div>
  </section>
  <!-- Subscribe area ends -->